/*
 * eCommerce Product Catalog
 * http://impleCode.com
 *
 * Copyright 2014 impleCode
 * Free to use under the GPLv3 license.
 * http://www.gnu.org/licenses/gpl-3.0.html
 *
 * Contributing author: Norbert Dreszer
 */

/* Admin Messages */
.product-adder-message p a{
text-decoration: none !important;
margin-right: 5px !important;
}

#wpbody-content > #implecode_message, #wpbody-content > .product-adder-message {
display: none;
}

.implecode-translate .dashicons, .implecode-review .dashicons, .implecode-review-thanks .dashicons {
color: #ededed;
cursor: pointer;
font-size: 21px;
margin-left: 5px;
}

.implecode-translate .dashicons:hover, .implecode-review .dashicons:hover, .implecode-review-thanks .dashicons:hover {
color: #000;
}

/* Product Columns */
.column-id {
width: 2.2em;
}

/* Category Columns */
.manage-column.column-id {
width: 2em;
}

.manage-column.column-img {
width: 45px;
}

.manage-column.column-id {
width: 50px;
}

.manage-column.column-shortcode, .shortcode.column-shortcode, .id.column-id, .manage-column.column-id  {
padding: 8px;
}

.image.column-image, .manage-column.column-image {
width: 42px;
}

.price.column-price, .manage-column.column-price {
width:100px;
}

.manage-column.column-shortcode {
width: 190px;
}

.edit-tags-php .custom-uploader {
margin: 0 0 10px;
padding: 8px 0;
}

/* Extensions */
#implecode_settings .extension {
float: left;
box-sizing: border-box;
width: 300px;
height: 230px;
margin: 10px 20px 10px 0;
border: 1px solid #ccc;
}

#implecode_settings .support-tab .extension {
height: 230px;
}
#implecode_settings a.extension-name {
overflow: hidden;
  display: inline-block;
  position: relative;
  width: 100%;
}
#implecode_settings .extension a {
text-decoration: none;
}

#implecode_settings .extension h3 {
display: table;
width: 100%;
box-sizing: border-box;
height: 70px;
margin: 0;
border-bottom: 1px solid #ccc;
background: #fff no-repeat left 10px;
background-size: 130px 100px;
padding: 0px 10px;
}

#implecode_settings .extension h3:before {
content: "";
}

#implecode_settings .extension h3 span{
display: table-cell;
vertical-align: middle;
}

#implecode_settings .extension p {
margin: 0;
padding: 10px;
}

#menu-posts-al_product .wp-submenu li span.extensions {
color:#F48702;
}

.extension span.comp {
font-size: 10px;
}

.extension span.comp:before {
background: url("images/ready.png") no-repeat;
width: 25px;
height: 19px;
content: " ";
display: inline-block;
background-size: 20px;
background-position: center;
position: relative;
top: 5px;
}

.extension span.installed:before {
background: url("images/success.png") no-repeat;
background-size: 20px;
background-position: center;
}

.extension span.info:before {
background: url("images/info.png") no-repeat;
background-size: 20px;
background-position: center;
}

.extension span.comp.wrong:before {
background: url("images/warning.png") no-repeat;
background-size: 20px;
width: 21px;
}

.extension .license_form {
padding: 0 10px;
}

.extension .wide {
width: 100%;
}

#implecode_settings .help {
max-width: 700px;
}

#implecode_settings .extension .click-span {
  position: absolute;
  bottom: 1px;
  right: 3px;
  padding: 2px;
  color: #ededed;
}

#implecode_settings .extension a:hover .click-span {
    color: #000;
}

/* Settings */
#implecode_settings {
min-height: 533px;
min-width: 1000px;
max-width:1200px;
overflow: hidden;
clear: both;
}

#implecode_settings .settings-wrapper {
display: table;
table-layout: fixed;
padding-top: 20px;
width: 100%;
min-height: 360px;
}

#implecode_settings .settings-submenu {
display: table-cell;
font-weight: 400;
width: 196px;
border-right: 1px solid #ccc;
margin-top: 20px;
position: relative;
padding-left: 2px;
}

#implecode_settings .settings-submenu h3{
width: 196px;
}

#implecode_settings .setting-content {
display: table-cell;
padding: 0px 20px;
}

.select-page-wrapper {
min-width: 280px;
}



.admin-media-image {
max-width: 150px;
height: auto;
}

.admin-media-image img {
height: auto;
}

.plugin-logo {
position: relative;
text-align: right;
}

.support-ul {
text-align: left;
}

.support-tab {
max-width: 70%;
}

.support-tab p{
font-size: 14px;
}

.support-tab table {
text-align: center;
}

.support-tab table td{
font-size: 14px;
}

.support-tab table td ul li{
background: #ededed;
padding: 5px;
border-radius: 3px;
max-width: 300px;
}

#admin-number-field, #archive_products_limit, input.admin-number-field{
width: 50px;
}

input[name="_price"], input[name="_sku"] {
width: 130px;
text-align: center;
}

.product-settings-table {
width: auto;
}

.product-settings-table textarea {
width: 100%;
}

.product-settings-table th {
padding: 7px 19px 8px;
}

.product-settings-table td {
text-align: center;
vertical-align: middle;
}

.lp-column {
vertical-align: middle !important;
}

.ui-sortable tr.sort-placeholder {
background-color: #bbffbb;
height: 45px;
}
.ui-sortable tr.sort-settings-placeholder {
background-color: #bbffbb;
height: 39px;
}

.ui-sortable tr.sort-settings-placeholder td {
border-color: #bbffbb;
background-color: #bbffbb;
border: none;
}

th.title {
max-width: 100px;
text-align: center;
}

.product-settings-table .ui-sortable, .sort-settings .ui-sortable {
cursor: move;
}

.archive-url {
font-size: 15px;
}

div.setting-content table td.archive-url-td {
max-width: 100%;
}

#payment_table .al-box {
max-width: 320px;
margin-left: 10px;
}

h2.tab-menu {
border-bottom: 2px solid #000000;
padding: 0px !important;
position: relative;
z-index: 1;
font-size: 21px;
}

h2.tab-menu {
font-size: 18px;
}

.locale-en-us h2.tab-menu {
font-size: 21px;
}

.tab-menu a {
color: #000000;
border-top: 1px solid #000000;
border-left: 1px solid #000000;
border-right: 1px solid #000000;
padding: 10px;
text-decoration: none;
background-color: #ededed;
display:inline-block;
position: relative;
top: 2px;
z-index: 0;

}

.tab-menu a.current {
color: #000000;
background-color: #ffffff;
/* border-top: 1px solid #d54e21;
border-left: 1px solid #d54e21;
border-right: 1px solid #d54e21;*/
border-bottom: 2px solid #ffffff; 
z-index:2;
}

.locale-he-il .setting-content.submenu {
padding: 30px 250px 0 0px;
}

.names-product-settings .setting-content td input {
text-align: center;
}

.setting-content input.wide, .names-product-settings .setting-content td input.wide {
    width: 100%;
    text-align: left;
}

.names-product-settings .setting-content td, .design-product-settings .setting-content td {
text-align: left;
padding-left: 20px;
vertical-align: middle;
}

.names-product-settings .setting-content th {
text-align: center;
}

.setting-content p.submit {
clear: both;
}

.setting-content h3 {
border-bottom: 1px dotted #d4d2d2;
padding-bottom: 4px;
}

.setting-content h3:before {
font-family: dashicons;
content: "\f140";
font-size: 0.84em;
}

.nav-tab-wrapper a:before, .setting-content h2:before, .settings-submenu h3 a:before {
font-family: dashicons;
font-size: 0.84em;
}

.nav-tab-wrapper a#general-settings:before, .settings-submenu h3 a#general-settings:before, .overall-product-settings .setting-content h2:first-of-type:before {
content: "\f111";
}

.nav-tab-wrapper a#design-settings:before, .design-product-settings .setting-content h2:first-of-type:before {
content: "\f309";
}

.settings-submenu h3 a#archive-design:before, .settings-submenu h3 a#archive-names:before {
content: "\f163";
}

.settings-submenu h3 a#single-design:before, .settings-submenu h3 a#single-names:before {
content: "\f123";
}

.settings-submenu h3 a#design-schemes:before {
content: "\f237";
}

.nav-tab-wrapper a#shipping-settings:before, .settings-submenu h3 a#shipping-settings:before, .shipping-product-settings .setting-content h2:first-of-type:before {
content: "\f230";
}

.nav-tab-wrapper a#attributes-settings:before, .settings-submenu h3 a#attributes-settings:before, .attributes-product-settings .setting-content h2:first-of-type:before {
content: "\f503";
}

.nav-tab-wrapper a#names-settings:before, .names-product-settings .setting-content h2:first-of-type:before {
content: "\f473";
}

.settings-submenu h3 a#support-settings:before, .overall-product-settings .setting-content.support-tab h2:first-of-type:before {
content: "\f110";
}


.overall-product-settings .setting-content.support-tab h2:nth-of-type(2):before {
content: "\f155";
}

.overall-product-settings .setting-content.support-tab h2:nth-of-type(3):before {
content: "\f181";
}

.overall-product-settings .setting-content.support-tab h2:nth-of-type(4):before {
content: "\f497";
}

.overall-product-settings .setting-content.support-tab h2:nth-of-type(5):before {
content: "\f238";
}

.setting-content select {
max-width: 150px;
}

div.setting-content table td {
max-width: 250px;
}

div.setting-content.support-tab table td {
max-width: 100%;
}

div.shipping-product-settings table td, div.attributes-product-settings table td {
max-width: 400px;
}
div.setting-content table.design-table td {
max-width: 100%;
}

div.setting-content table.design-table td table td {
border: 0;
padding: 0;
}

div.setting-content table td:nth-child(3) {
max-width: 100%;
}

td.dragger:before{
content: "\f156";
font-family: dashicons;
float: right;
font-size: 17px;
}

td.dragger, th.dragger {
width: 3%;
}

#al_product_attributes .ui-sortable tr td:last-child input, #al_product_shipping .ui-sortable tr td:last-child input{
max-width: 75%;
}

#implecode_settings .al_archive {
height: 170px;
width: 262px;
max-width: 100%;
}

#implecode_settings .classic-grid.archive-listing {
width: 190px;
}

#implecode_settings .classic-grid.archive-listing h3{
border-bottom: 0;
}

#implecode_settings .classic-grid.archive-listing h3:before{
display: none;
}

/* Design Settings */
.design-table td {
    padding: 10px 20px;
    border: 1px solid #b9b8b8;
    background: #fff;

}

.design-table td.theme-example {
    background: none;
    border: none;
    height: 100px;
}

.design-table td.separator {
    background: none;
    border: none;
}

.design-table .theme-name {
    font-size: 17px;
    font-weight: bold;
}

td.additional-styling {
    vertical-align: top;
    padding: 0;
    min-width: 200px;
}

td.with-additional-styling {
    padding: 0;
}

/* Classic List Example */
.list.example .product-image {
  max-width: 170px;
  float: left;
  margin-right: 10px;
  height: 150px;
  width: 120px;
}

.list.example.archive-listing {
    max-width: 700px;
}

/* Image Picker */
.custom-uploader {
    width: auto;
    display: inline-block;
    text-align: center;
}

#postimagediv .custom-uploader, #ic_postimagediv .custom-uploader {
    height: auto;
    width: 100%;
}

#postimagediv img {
    max-height: 150px;
}

#postimagediv .hide-if-no-js {
    text-align: center;
}

div.implecode-admin-media-image {
    width: 150px;
    height: 150px;
    border: 2px dashed #A8A8A8;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.implecode-admin-media-image.empty {
    display: block;
    margin: 0 auto;
}

.custom-uploader a.add_catalog_media {
    margin-top: 7px;
}

.custom-uploader {
    height: 191px;
    width: auto;
    overflow: hidden;
}

div.implecode-admin-media-image.empty:before {
    font-family: dashicons;
    content: "\f161";
    color: #A8A8A8;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    line-height: 150px;
    font-size: 70px;
    position: absolute;
    z-index: 1;
}

div.implecode-admin-media-image img {
    position: relative;
    z-index: 10;
    max-width: 100%;
    max-height: 100%;
}

.catalog-reset-image-button {
    position: absolute;
    top: 2px;
    left: 90%;
    font-weight: bold;
    color: red;
    cursor: pointer;
    z-index: 99;
}

/* Product Edit Page */
#al_product_attributes.postbox table {
width: 100%;
border-collapse: collapse;
}

#al_product_attributes.postbox table th {
border-bottom: 1px solid #ededed;
line-height: 2.5;
text-align: left;
padding-left: 5px;
}

#al_product_attributes.postbox table td {
padding: 5px;
}

#al_product_attributes.postbox table input {
width: 100%;
}

#al_product_attributes.postbox td.attributes-label-column {
width: 20%;
}

#al_product_attributes.postbox td.value-column {
width: 60%;
}

#al_product_attributes.postbox td.unit-column {
width: 10%;
}

#al_product_attributes.postbox td.break-column {
width: 0.5%;
}

#al_product_desc_editor_ifr, #al_product_shortdesc_editor_ifr, #wp-al_product_shortdesc_editor-editor-container {
background-color: #ffffff;
}

.post-php .al-box, .post-new-php .al-box {
min-width: 187px;
max-width: 100%;
display: inline-block;
font-weight: normal;
min-height: 50px;
}

#al_product_short_desc .mce-menubar {
display: none;
}

#al_product_shipping table {
border-collapse: collapse;
}

#al_product_shipping table td{
padding: 3px 1px;
}

#al_product_shipping .ui-sortable tr.sort-settings-placeholder {
height: 35px;
}

#al_product_shipping td.dragger:before{
padding-right: 3px;
}

/* Settings Menu */
.locale-he-il .settings-submenu {
float: right;
}

.locale-en-us .settings-submenu .element{
font-size: 17px;
}

.settings-submenu .element{
padding: 6px 10px;
font-weight: 700;
font-size: 15px;
line-height: 24px;
border: 1px solid #ccc;
border-right: 1px solid #ccc;
background: #e4e4e4;
color: #555;
text-decoration: none;
outline: 0;
display: block;
margin-bottom: 5px;
margin-right: -1px;
}

.settings-submenu .element:focus{
outline: 0;
}

.settings-submenu .element:hover {
background-color: #fff;
color: #464646;
}

.settings-submenu .element.current {
border-right: 1px solid #f1f1f1;
background: #f1f1f1;
color: #000;
}

/* Settings Helpers */
#implecode_settings .helpers {
display: table-cell;
width: 266px;
position: relative;
}
/*
#implecode_settings .helpers .wrapper{
position: fixed;
} */

#implecode_settings .helpers .doc-helper{
position: relative;
overflow: hidden;
}

.doc-helper {
width: 240px;
min-height: 98px;
padding: 15px 10px 20px;
border: 3px solid #dde4e4;
background: #edf2f2;
margin-top: 15px;
background-image: url('images/doc.png');
background-position: right bottom;
background-repeat: no-repeat;
}

.doc-helper.main, .doc-helper.review, .doc-helper.text{
background-image: none !important;
min-height: 30px;
}

.doc-helper.left {
float: left;
}

.doc-helper.center {
float: none;
margin: 0 auto;
}

.doc-helper:hover {
background-image: url('images/info.png');
}

.doc-helper .background-url{
float: right;
width: 50px;
height: 50px;
position: relative;
left: 10px;
margin-bottom: -23px;
}

.doc-helper .doc-name {
color: #0a063b;
font-size: 19.5px;
font-family: 'Source Sans Pro',Arial,sans-serif;
line-height:23px;
}

.locale-nl-nl .doc-helper .doc-name {
font-size: 18px;
}

.doc-helper .doc-description {
font-size: 14px;
padding: 5px 0;
}

.doc-helper .doc-description input.search-field {
max-width: 70%;
}

.doc-helper .doc-button {
float:left;
clear: left;
position: relative;
top: 5px;
}

.doc-helper  input.classic-button, .al-box .classic-button{
background: #a6a6a6;
background: -webkit-linear-gradient(top, #a6a6a6 0%, #b2b2b2 100%);
background: linear-gradient(to bottom, #a6a6a6 0%, #b2b2b2 100%);
border: none;
border-bottom: 3px solid #a6a6a6;
color: #fff;
display: inline-block;
padding: 4px 6px 3px 6px;
text-decoration: none;
font-size: 18px;
cursor: pointer;
box-shadow: none;
text-shadow: none;
border-radius: 5px;
}

.locale-fr-fr .doc-helper  input.classic-button, .al-box .classic-button, .locale-pl-pl .doc-helper  input.classic-button, .al-box .classic-button{
font-size: 13px;
}

.doc-helper  input.classic-button:hover, .al-box .classic-button:hover {
background: #a2a2a2;
background: -webkit-linear-gradient(top, #a2a2a2 0%, #adacac 100%);
background: linear-gradient(to bottom, #a2a2a2 0%, #adacac 100%);
outline: none;
border: none;
border-bottom: 3px solid #a2a2a2;
box-shadow: none;
}

.doc-helper  input.classic-button:active, .doc-helper  input.classic-button:focus, .al-box .classic-button:focus {
background: #a2a2a2;
background: -webkit-linear-gradient(top, #a2a2a2 0%, #adacac 100%);
background: linear-gradient(to bottom, #a2a2a2 0%, #adacac 100%);
transform: scale(0.97);
-webkit-transform:scale(0.97); 
-moz-transform:scale(0.97); 
-o-transform:scale(0.97); 
-ms-transform:scale(0.97);
outline: none;
}

.doc-helper  a:focus, .doc-helper  a:active {
outline: none;
}

.al_product_page_extensions .doc-helper.text {
width:147px;
}

.al_product_page_extensions #implecode_settings .table-wrapper {
display: table;
table-layout: fixed;
width: 100%;
}

.al_product_page_extensions #implecode_settings .helpers {
display: table-cell;
width: 184px;
max-width: 16%;
vertical-align: top;
position: relative;
}

.al_product_page_extensions #implecode_settings .extension-list {
display: table-cell;
overflow: hidden;
width: 84%;
vertical-align: top;
}

div.setting-content table.no-limit td{
max-width: 100%;
}

/* Admin ToolTip */

.ui-tooltip {
	background: #edf2f2;
	border: 3px solid #dde4e4;
	padding: 10px;
	color: #0a063b;
	border-radius: 5px;
	font: normal 14px "Helvetica Neue", Sans-Serif;
	max-width: 220px;
	position: fixed;
}

/* Admin Validation */

label.error {
    position: absolute;
    top: 30px;
    left: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px;
    font-size: 15px;
    background: #fff;
}

input.error {
    background: #f4aeae;
}