/*
 * eCommerce Product Catalog
 * http://impleCode.com
 *
 * Copyright 2014 impleCode
 * Free to use under the GPLv3 license.
 * http://www.gnu.org/licenses/gpl-3.0.html
 *
 * Contributing author: Norbert Dreszer
 */

/* Product Columns */
.column-id {
width: 2.2em;
}

/* Category Columns */
.taxonomy-al_product-cat .manage-column.column-id {
width: 2em;
}

.taxonomy-al_product-cat .manage-column.column-img {
width: 45px;
}

.manage-column.column-id {
width: 50px;
}

.manage-column.column-shortcode, .shortcode.column-shortcode, .id.column-id, .manage-column.column-id  {
padding: 8px;
}

.image.column-image, .manage-column.column-image {
width: 42px;
}

.price.column-price, .manage-column.column-price {
width:100px;
}

.manage-column.column-shortcode {
width: 190px;
}

.edit-tags-php .custom-uploader {
margin: 0 0 10px;
padding: 8px 0;
}

/* Extensions */
#implecode_settings .extension {
float: left;
box-sizing: border-box;
width: 300px;
height: 210px;
margin: 10px 20px 10px 0;
border: 1px solid #ccc;
}

#implecode_settings .support-tab .extension {
height: 230px;
}

#implecode_settings .extension a {
text-decoration: none;
}

#implecode_settings .extension h3 {
display: table;
width: 100%;
box-sizing: border-box;
height: 70px;
margin: 0;
border-bottom: 1px solid #ccc;
background: #fff no-repeat left 10px;
background-size: 130px 100px;
padding: 0px 10px;
}

#implecode_settings .extension h3:before {
content: "";
}

#implecode_settings .extension h3 span{
display: table-cell;
vertical-align: middle;
}

#implecode_settings .extension p {
margin: 0;
padding: 10px;
}

#menu-posts-al_product .wp-submenu li span.extensions {
color:#F48702;
}

/* Settings */
#implecode_settings .settings-wrapper {
display: table;
padding-top: 20px;
width: 100%;
min-height: 300px;
}

#implecode_settings .settings-submenu {
display: table-cell;
font-weight: 400;
width: 196px;
border-right: 1px solid #ccc;
margin-top: 20px;
}

#implecode_settings .settings-submenu h3{
position: fixed;
width: 196px;
}

#implecode_settings .setting-content {
display: table-cell;
padding: 0px 20px;
}
/* Settings Helpers */
#implecode_settings .helpers {
display: table-cell;
width: 266px;
}

#implecode_settings .helpers .doc-helper{
position: fixed;
}

.doc-helper {
width: 240px;
min-height: 98px;
padding: 15px 10px 20px;
border: 3px solid #dde4e4;
background: #edf2f2;
margin-top: 15px;
background-image: url('images/doc.png');
background-position: right bottom;
background-repeat: no-repeat;
}

.doc-helper.left {
float: left;
}

.doc-helper.center {
float: none;
margin: 0 auto;
}

.doc-helper:hover {
background-image: url('images/info.png');
}

.doc-helper .background-url{
float: right;
width: 50px;
height: 50px;
position: relative;
left: 10px;
margin-bottom: -23px;
}

.doc-helper .doc-name {
color: #0a063b;
font-size: 19.5px;
font-family: 'Source Sans Pro',Arial,sans-serif;
line-height:23px;
}

.doc-helper .doc-description {
font-size: 14px;
padding: 5px 0;
}

.doc-helper .doc-button {
float:left;
clear: left;
position: relative;
top: 5px;
}

.doc-helper  input.classic-button, .al-box .classic-button{
background: #a6a6a6;
background: -webkit-linear-gradient(top, #a6a6a6 0%, #b2b2b2 100%);
background: linear-gradient(to bottom, #a6a6a6 0%, #b2b2b2 100%);
border: none;
border-bottom: 3px solid #a6a6a6;
color: #fff;
display: inline-block;
padding: 4px 6px 3px 6px;
text-decoration: none;
font-size: 18px;
cursor: pointer;
box-shadow: none;
text-shadow: none;
border-radius: 5px;
}

.locale-fr-fr .doc-helper  input.classic-button, .al-box .classic-button, .locale-pl-pl .doc-helper  input.classic-button, .al-box .classic-button{
font-size: 13px;
}

.doc-helper  input.classic-button:hover, .al-box .classic-button:hover {
background: #a2a2a2;
background: -webkit-linear-gradient(top, #a2a2a2 0%, #adacac 100%);
background: linear-gradient(to bottom, #a2a2a2 0%, #adacac 100%);
outline: none;
border: none;
border-bottom: 3px solid #a2a2a2;
box-shadow: none;
}

.doc-helper  input.classic-button:active, .doc-helper  input.classic-button:focus, .al-box .classic-button:focus {
background: #a2a2a2;
background: -webkit-linear-gradient(top, #a2a2a2 0%, #adacac 100%);
background: linear-gradient(to bottom, #a2a2a2 0%, #adacac 100%);
transform: scale(0.97);
-webkit-transform:scale(0.97); 
-moz-transform:scale(0.97); 
-o-transform:scale(0.97); 
-ms-transform:scale(0.97);
outline: none;
}

.doc-helper  a:focus, .doc-helper  a:active {
outline: none;
}

div.setting-content table.no-limit td{
max-width: 100%;
}