/*
 * eCommerce Product Catalog
 * http://impleCode.com
 *
 * Copyright 2014 impleCode
 * Free to use under the GPLv3 license.
 * http://www.gnu.org/licenses/gpl-3.0.html
 *
 * Contributing author: Norbert Dreszer
 */
 

/* Product Archive */

/* Archive pagination */
.product-archive-nav {
clear: both;
text-align: center;
padding: 40px 0;
}

.product-archive-nav ul {
margin: 0;
}

.product-archive-nav li a,
.product-archive-nav li a:hover,
.product-archive-nav li.active a,
.product-archive-nav li.disabled {
	color: #fff;
	text-decoration:none;
}

.product-archive-nav li {
	display: inline;
}

.product-archive-nav li a,
.product-archive-nav li a:hover,
.product-archive-nav li.active a,
.product-archive-nav li.disabled {
	background-color: #327332;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px;
	padding: 0.75rem;
}

.product-archive-nav.red-box li a,
.product-archive-nav.red-box li a:hover,
.product-archive-nav.red-box li.active a,
.product-archive-nav.red-box li.disabled {
background-color: #fc3233;
background-color: rgba(253,0,2,0.8);
}

.product-archive-nav.orange-box li a,
.product-archive-nav.orange-box li a:hover,
.product-archive-nav.orange-box li.active a,
.product-archive-nav.orange-box li.disabled {
background-color: #fd6232;
}

.product-archive-nav li a:hover,
.product-archive-nav li.active a {
	background-color: #027502;
}

.product-archive-nav.red-box li a:hover,
.product-archive-nav.red-box li.active a {
background-color: rgb(253,0,2);
}

.product-archive-nav.orange-box li a:hover,
.product-archive-nav.orange-box li.active a {
	background-color: #FE3C00;
}

/*Default*/
.archive-title {
margin-top: 10px;
}

.product-subcategories li {
display: inline-block;
list-style-type: none;
padding-bottom: 5px;
font-size: 0.9em;
}

.product-subcategories table {
border: none;
}
.product-subcategories table td {
border: none;
vertical-align: top;

}

.product-subcategories table td:first-child {
white-space: nowrap; }

.product-list .al_archive .product-attributes, #content .al_archive .product-attributes {
max-width: 120px;
position: absolute;
left: 5px;
bottom: 15px;
background-color: rgb(0,82,0);
background-color: rgba(0,82,0,0.8);
z-index: 0;
box-shadow: 0 0 5px #005200;
padding: 5px;
}

.product-list .al_archive .product-attributes table, #content .al_archive .product-attributes table {
border: none;
font-size: 12px;
margin: 0;
line-height: 14px;
color: #fff;
box-shadow: none;
}

.product-list .al_archive .product-attributes table td, #content .al_archive .product-attributes table td {
border: none;
padding: 0;
}

.product-list .al_archive .product-attributes table tr, #content .al_archive .product-attributes table tr {
background: transparent;
}

.product-list .al_archive .product-attributes table tr td:nth-child(2), #content .al_archive .product-attributes table tr td:nth-child(2) {
text-align: center;
padding-left: 5px;
}
.al_archive .product-name {
background-color: rgb(0,82,0);
background-color: rgba(0,82,0,0.8);
max-width: 80%;
box-shadow: 0 0 5px #005200;
padding: 5px;
position: absolute;
top: 10px;
left: 5px;
color: #fff;
font-weight: bold;
}

.al_archive .product-name.red-box {
background-color: rgb(253,0,2);
background-color: rgba(253,0,2,0.8);
box-shadow: 0 0 5px rgb(253,0,2);
}

.al_archive .product-name.orange-box {
background-color: rgb(254,60,0);
background-color: rgba(254,60,0,0.8);
box-shadow: 0 0 5px rgb(254,60,0);
}

.product-name.example {
background-color: rgb(0,82,0);
background-color: rgba(0,82,0,0.8);
max-width: 80%;
box-shadow: 0 0 5px #005200;
padding: 5px;
color: #fff;
font-weight: bold;
}

.example.product-name.red-box {
background-color: rgb(253,0,2);
background-color: rgba(253,0,2,0.8);
box-shadow: 0 0 5px rgb(253,0,2);
}

.example.product-name.orange-box {
background-color: rgb(254,60,0);
background-color: rgba(254,60,0,0.8);
box-shadow: 0 0 5px rgb(254,60,0);
}

.al_archive .product-price {
position: absolute;
right: 10px;
bottom: 10px;
background-color: rgb(253,0,2);
background-color: rgba(253,0,2,0.8);
max-width: 80%;
box-shadow: 0 0 5px #fff;
padding: 5px;
border:none;
font-size: 1.6em;
color: #fff;
text-decoration: none;
}

.al_archive .product-price div {
font-size: 1em;
}

.al_archive .product-price.green-price{
background-color: rgb(99,171,0);
background-color: rgba(99,171,0,0.8);
}

.al_archive .product-price.orange-price{
background-color: rgb(254,60,0);
background-color: rgba(254,60,0,0.8);
}

.archive .al_product .entry-header {
margin-bottom: 0px;
}

.al_archive {
max-width: 44%;
min-width: 262px;
min-height: 170px;
background-size: 100% auto;
box-shadow: 0 0 5px #005200;
position: relative;
cursor: pointer;
float:left;
width: 100%;
margin: 5px 25px 25px 5px;
line-height: 1.5;
}

.modern-grid-element {
background-position: 0% 50%;
background-repeat: no-repeat;
}
.archive article.al_product {
padding: 0px;
}

.al_archive:hover {
opacity: 0.9;
}

.al_archive:active {
transform: scale(0.97);
-webkit-transform:scale(0.97); 
-moz-transform:scale(0.97); 
-o-transform:scale(0.97); 
-ms-transform:scale(0.97); 
}

.post-type-archive-al_product .site-content article, .tax-al_product-cat .site-content article, .post-type-archive-al_product .al_product {
border: none;
padding: 0;
margin: 0;
}

.single-al_product .site-content .hentry.has-post-thumbnail {
margin-top: 0 !important;
}

.after-product-details {
clear: both;
}

.after-product-description {
padding: 0 0 20px 0;
clear:both;
}

/*List*/
.list.archive-listing:hover {
background-color: #ededed;
background-color: rgba(237,237,237,0.3);
}

.list.archive-listing {
min-height: 150px;
border-bottom: 1px solid #ededed;
padding: 10px;
position: relative;
}

.list.example.archive-listing {
max-width: 700px;
}

.div-link {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 1;
background-image: url('empty.gif');
}

.list.example .product-image {
min-width: 140px;
min-height: 150px;
}

.list .product-image {
max-width: 170px;
float: left;
margin-right: 10px;
}

.list .product-name {
font-weight: bold;
clear: none;
}

.list .product-short-descr {
clear: none;
}

.list .product-image {
background-size: 150px; 
background-position: center; 
background-repeat: no-repeat;
}

/*Grid*/

.classic-grid.archive-listing {
max-width: 190px;
margin-right: 18px;
float: left;
}

.archive-listing.last {
clear: right;
}

.archive-listing.first {
clear: left;
}

.classic-grid.archive-listing .classic-grid-element {
background-size: 200px; 
background-position: center; 
background-repeat: no-repeat;
width:200px; 
height:200px;
}

.classic-grid.archive-listing.example {
float: none;
}

.classic-grid.archive-listing a {
text-decoration: none;
}
.classic-grid .product-name {
font-size: 20px;
font-weight: bold;
text-align: center;
padding: 5px 0;
color: #000;
text-decoration: none;
line-height: 18px;
}

.classic-grid .product-price {
font-size: 22px;
text-align: center;
text-decoration: none;
color: rgb(253,0,2);
line-height: 18px;
}

.classic-grid .product-price.orange-price {
color: #FE3C00;
}

.classic-grid .product-price.green-price {
color: #63AB00;
}


/* Shortcode */
.product-list {
width: 100%;
}

/* Product Page */
.entry-meta {
clear: left;
}

#product_details {
float: left;
clear: left;
max-width: 49%;
}

#product_details table {
vertical-align: middle;
margin: 0px;
border: none;
width: auto;
}

#product_details table td {
border: none;
}

#product_details table td:first-child {
padding: 0 5px 0 0;
}

#product_details table.shipping-table td:nth-child(2) {
padding: 0;
}

.product-details table  td {
border: none;
padding: 0px 10px 0px 0px;
}

.price-value.red-price {
font-size: 30px;
color: rgb(253, 0, 2);
}

.price-value.red-price {
color: #FD0002;
}

.price-value.green-price {
color: #63AB00;
}

.price-value.orange-price {
color: #FE3C00;
}

.price-value.big-price, .price-value.big-price div {
font-size: 30px;
}

.price-value.small-price, .price-value.small-price div {
font-size: 21px;
}

.label-column {
min-width: 60px;
}

.al_product .details-thumbnail {
min-height: 135px;
}
.al_product div.entry-thumbnail.product-image {
float:right;
width:50%;
text-align: center;
padding-left: 5px;
}

.product-details .shortdesc {
padding: 0 20px 20px 0;
}

#product_subcategories table{
width: auto;
border: 0;
}

#product_subcategories table td{
border:0;
}

#product_features {
clear: both;
}

#product_features table {
width: auto;
border: 0;
}

#product_features table td{
border: 0;
border-top: 1px solid #E7E7E7;
border-bottom: 1px solid #E7E7E7;
}

#product_features table td, #product_subcategories table td{
padding: 5px;
}

.product-description {
padding: 10px 0 0 0;
clear: both;
}

.single .product-entry {
margin: 0;
}

.product-details.no-image .shortdesc {
float: left;
width: 60%;
}

.product-details.no-image .price-value {
line-height: 1;
}

#product_details.no-image {
float: none;
clear: none;
max-width: 100%;
}

.product-details.no-image{
vertical-align: top;
height: auto;
}

.price-table td:empty {
display:none;
}

.entry-header .price-table {
margin: 0;
max-width: 200px;
width: auto;
}

/* Product Settings Page */
.number-box, .number_box {
width: 60px;
}

.small_text_box {
width: 70px;
}

.doc-helper {
float: right;
clear: right;
width: 240px;
min-height: 98px;
padding: 15px 10px 20px;
border: 3px solid #dde4e4;
background: #edf2f2;
margin-top: 15px;
background-image: url('images/doc.png');
background-position: right bottom;
background-repeat: no-repeat;
}

.doc-helper.left {
float: left;
}

.doc-helper.center {
float: none;
margin: 0 auto;
}

.doc-helper:hover {
background-image: url('images/info.png');
}

.doc-helper .background-url{
float: right;
width: 50px;
height: 50px;
position: relative;
left: 10px;
margin-bottom: -23px;
}

.doc-helper .doc-name {
color: #0a063b;
font-size: 19.5px;
font-family: 'Source Sans Pro',Arial,sans-serif;
height: 25px;
}

.doc-helper .doc-description {
font-size: 14px;
padding: 5px 0;
}

.doc-helper .doc-button {
float:left;
clear: left;
position: relative;
top: 5px;
}

.doc-helper  input.classic-button{
background: #a6a6a6;
background: -webkit-linear-gradient(top, #a6a6a6 0%, #b2b2b2 100%);
background: linear-gradient(to bottom, #a6a6a6 0%, #b2b2b2 100%);
border: none;
border-bottom: 3px solid #a6a6a6;
color: #fff;
display: inline-block;
padding: 4px 6px 3px 6px;
text-decoration: none;
font-size: 18px;
cursor: pointer;
box-shadow: none;
text-shadow: none;
border-radius: 5px;
}

.doc-helper  input.classic-button:hover {
background: #a2a2a2;
background: -webkit-linear-gradient(top, #a2a2a2 0%, #adacac 100%);
background: linear-gradient(to bottom, #a2a2a2 0%, #adacac 100%);
outline: none;
border: none;
border-bottom: 3px solid #a2a2a2;
box-shadow: none;
}

.doc-helper  input.classic-button:active, .doc-helper  input.classic-button:focus {
background: #a2a2a2;
background: -webkit-linear-gradient(top, #a2a2a2 0%, #adacac 100%);
background: linear-gradient(to bottom, #a2a2a2 0%, #adacac 100%);
transform: scale(0.97);
-webkit-transform:scale(0.97); 
-moz-transform:scale(0.97); 
-o-transform:scale(0.97); 
-ms-transform:scale(0.97);
outline: none;
}
.doc-helper  a:focus, .doc-helper  a:active {
outline: none;
}

#implecode_settings {
min-height: 533px;
clear: both;
}
.tab-menu {
border-bottom: 2px solid #000000;
padding: 0px !important;
position: relative;
z-index: 1;
}
.tab-menu a {
color: #000000;
border-top: 1px solid #000000;
border-left: 1px solid #000000;
border-right: 1px solid #000000;
padding: 10px;
text-decoration: none;
background-color: #ededed;
display:inline-block;
position: relative;
top: 2px;
z-index: 0;

}

.tab-menu a.current {
color: #000000;
background-color: #ffffff;
/* border-top: 1px solid #d54e21;
border-left: 1px solid #d54e21;
border-right: 1px solid #d54e21;*/
border-bottom: 2px solid #ffffff; 
z-index:2;
}

.setting-content.submenu {
padding: 30px 0 0 250px;
}

.names-product-settings .setting-content td input {
text-align: center;
}

.names-product-settings .setting-content td, .design-product-settings .setting-content td {
text-align: left;
padding-left: 20px;
vertical-align: middle;
}

.names-product-settings .setting-content th {
text-align: center;
}

.setting-content p.submit {
clear: both;
}

.setting-content h3 {
border-bottom: 1px dotted #d4d2d2;
padding-bottom: 4px;
}

.setting-content h3:before {
font-family: dashicons;
content: "\f140";
font-size: 0.84em;
}

.tab-menu a:before, .setting-content h2:before, .settings-submenu h3 a:before {
font-family: dashicons;
font-size: 0.84em;
}

.tab-menu a#general-settings:before, .settings-submenu h3 a#general-settings:before, .overall-product-settings .setting-content h2:first-of-type:before {
content: "\f111";
}

.tab-menu a#design-settings:before, .design-product-settings .setting-content h2:first-of-type:before {
content: "\f309";
}

.tab-menu a#design-settings:before, .design-product-settings .setting-content h2:first-of-type:before {
content: "\f309";
}
.settings-submenu h3 a#archive-design:before, .settings-submenu h3 a#archive-names:before {
content: "\f163";
}

.settings-submenu h3 a#single-design:before, .settings-submenu h3 a#single-names:before {
content: "\f123";
}

.settings-submenu h3 a#design-schemes:before {
content: "\f237";
}

.tab-menu a#shipping-settings:before, .shipping-product-settings.setting-content h2:first-of-type:before {
content: "\f230";
}

.tab-menu a#attributes-settings:before, .settings-submenu h3 a#attributes-settings:before, .attributes-product-settings .setting-content h2:first-of-type:before {
content: "\f503";
}

.tab-menu a#names-settings:before, .names-product-settings .setting-content h2:first-of-type:before {
content: "\f473";
}

.settings-submenu h3 a#support-settings:before, .overall-product-settings .setting-content.support-tab h2:first-of-type:before {
content: "\f110";
}


.overall-product-settings .setting-content.support-tab h2:nth-of-type(2):before {
content: "\f155";
}

.overall-product-settings .setting-content.support-tab h2:nth-of-type(3):before {
content: "\f181";
}

.overall-product-settings .setting-content.support-tab h2:nth-of-type(4):before {
content: "\f497";
}

.overall-product-settings .setting-content.support-tab h2:nth-of-type(5):before {
content: "\f238";
}

.setting-content select {
max-width: 250px;
}

div.setting-content table td {
max-width: 250px;
}

div.setting-content.support-tab table td {
max-width: 100%;
}

div.setting-content.shipping-product-settings table td, div.attributes-product-settings table td {
max-width: 400px;
}
div.setting-content table.design-table td {
max-width: 100%;
}

div.setting-content table.design-table td table td {
border: 0;
padding: 0;
}

div.setting-content table td:nth-child(3) {
max-width: 100%;
}

.warning {
background-color: #fefccb;
background-image: url('images/warning.png');
}

.al-box.info {
background-color: #dbecff;
background-image: url('images/info.png');
}

.al-box.success {
background-color: #e1f3c1;
background-image: url('images/success.png');
}

.al-box {
background-repeat: no-repeat;
background-position: 1%;
padding: 10px 10px 10px 60px;
font-weight: bold;
margin: 10px 0 10px 0;
position: relative;
display: block;
width: 100%;
max-width: 509px;
}

#product_listing_url {
width: 100px;
}

.admin-media-image {
max-width: 150px;
height: auto;
}

.admin-media-image img {
height: auto;
}

.plugin-logo {
position: absolute;
right: 0px;
bottom:25px;
z-index: 9999;
}

.support-ul {
text-align: left;
}

.support-tab {
max-width: 70%;
}

.support-tab p{
font-size: 14px;
}

.support-tab table {
text-align: center;
}

.support-tab table td{
padding: 10px;
font-size: 14px;
}

.support-tab table td ul li{
background: #ededed;
padding: 5px;
border-radius: 3px;
max-width: 300px;
}

#admin-number-field, #archive_products_limit, input.admin-number-field{
width: 50px;
}

input[name="_price"], input[name="_sku"] {
width: 130px;
text-align: center;
}

.product-settings-table {
width: auto;
}

.product-settings-table th {
padding: 7px 19px 8px;
}

.product-settings-table td {
text-align: center;
vertical-align: middle;
}

.lp-column {
vertical-align: middle !important;
}

.sort-placeholder {
background-color: #bbffbb;
height: 46px;
}
.sort-settings-placeholder {
background-color: #bbffbb;
height: 30px;
}

th.title {
max-width: 100px;
text-align: center;
}

.product-settings-table .ui-sortable, .sort-settings .ui-sortable {
cursor: move;
}

.archive-url {
font-size: 15px;
}

div.setting-content table td.archive-url-td {
max-width: 100%;
}

/* Design Settings */
.design-table  td{
padding: 10px 20px;
border: 1px solid #b9b8b8;
background: #fff;

}

.design-table td.theme-example {
background: none;
border: none;
}

.design-table td.separator {
background: none;
border: none;
}

.design-table .theme-name {
font-size: 17px;
font-weight: bold;
}

td.additional-styling {
vertical-align: top;
padding: 0;
min-width: 200px;
}

td.with-additional-styling {
padding: 0;
}

.settings-submenu {
font-weight: 400;
width: 196px;
border-right: 1px solid #000000;
float:left;
margin-top: 20px;
}

.settings-submenu .element{
line-height: 29px;
border: 2px solid #000000;
border-right: none;
padding: 5px;
font-size: 17px;
color: #000;
text-decoration: none;
display: block;
margin-bottom: 5px;
}

.settings-submenu .element.current {
background: #fff;
border-right: 2px solid #fff;
}

.price-value.example {
padding-left: 30px;
}

div.setting-content table td.longer {
max-width: 100%;
}

/* Product Edit Page */
.shipping-label {
width: 100%;
}

.shipping-value {
width: 100%;
}

.shipping-label-column {
width: 66%;
}
.shipping-value {
width: 60%;
margin-right: 3px;
}

#al_product_attributes.postbox table {
width: 100%;
}

#al_product_attributes.postbox table input {
width: 100%;
}

#al_product_attributes.postbox td.attributes-label-column {
width: 20%;
}

#al_product_attributes.postbox td.value-column {
width: 70%;
}

#al_product_attributes.postbox td.unit-column {
width: 7%;
}

#al_product_attributes.postbox td.break-column {
width: 0.5%;
}

#al_product_desc_editor_ifr, #al_product_shortdesc_editor_ifr, #wp-al_product_shortdesc_editor-editor-container {
background-color: #ffffff;
}

.post-php .al-box, .post-new-php .al-box {
min-width: 187px;
max-width: 256px;
width: 74%;
font-weight: normal;
}

#al_product_short_desc .mce-menubar {
display: none;
}

/*WP MENU*/
.branch-3-7 #menu-posts-al_product div.wp-menu-image:before, .branch-3-6 #menu-posts-al_product div.wp-menu-image:before, .branch-3-5 #menu-posts-al_product div.wp-menu-image:before, .branch-3-7 #adminmenu li[id^="menu-posts-al_product"] div.wp-menu-image:before, .branch-3-6 #adminmenu li[id^="menu-posts-al_product"] div.wp-menu-image:before, .branch-3-5 #adminmenu li[id^="menu-posts-al_product"] div.wp-menu-image:before {
content: "" !important;
}

#menu-posts-al_product div.wp-menu-image:before, #adminmenu li[id^="menu-posts-al_product"] div.wp-menu-image:before {
content: "\f174" !important;
}

/* Breadcrumbs */
#breadcrumbs {
position: relative;
z-index: 999; }

.product-adder-message p a{
text-decoration: none !important;
margin-right: 5px !important;
}

/* Product Columns */
.column-id {
width: 2.2em;
}

/* Category Columns */
.taxonomy-al_product-cat .manage-column.column-id {
width: 2em;
}

.taxonomy-al_product-cat .manage-column.column-img {
width: 45px;
}

.manage-column.column-id {
width: 50px;
}

.manage-column.column-shortcode, .shortcode.column-shortcode, .id.column-id, .manage-column.column-id  {
padding: 8px;
}

.image.column-image, .manage-column.column-image {
width: 42px;
}

.price.column-price, .manage-column.column-price {
width:100px;
}

.edit-tags-php .custom-uploader {
margin: 0 0 10px;
padding: 8px 0;
}